#columnaCuadro {
  margin-right: 0%;
}

#cuadro.sinTurno {
  transform: rotatey(-180deg);
}

.cronometro {
  margin-top: 0%;
  font-family: cronometro;
  font-size: 2rem;
  font-weight: 1;
  color: rgb(255, 255, 255);
}

#juego {
  background-color: rgba(0, 0, 0, 0.9);
  height: 80vh;
  border-radius: 30px;
  backdrop-filter: blur(7px);
  padding-bottom: 20%;
  border: #ffb300 1px solid;
  padding-left: 4vw;
}

#espacioJuego {
  padding-top: -10%;
  margin-top: 0%;
}

#fondo {
  background-image: url("../../assets/img/fondoJuego.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.cajaPuntaje {
  background-color: rgba(0, 0, 0, 0.9);
  height: 15vh;
  border-radius: 18px;
  margin-top: 1vh;
  backdrop-filter: blur(7px);
  display: grid;
  place-items: center;
  padding-left: 7%;
  padding-right: 10%;
  border: #ffb300 1px solid;
}

#palabra {
  background: rgb(4, 0, 64);
  background: linear-gradient(
    353deg,
    rgb(2, 0, 35) 0%,
    rgba(0, 0, 0, 0.8) 100%,
    rgba(2, 0, 36, 0.8) 100%
  );
  height: 15vh;
  border-radius: 30px;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 1vh;
  backdrop-filter: blur(7px);
}

.nombreJugador {
  font-size: 2vh;
  margin-bottom: -1.2vh;
}

.icoJugador {
  font-size: 1.8vh;
}

.puntaje {
  color: #ffe400;
  font-size: 4em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-bottom: -4%;
  margin-top: 6%;
}

#cajaAlerta {
  position: fixed;
  top: 40%;
  width: 40vw;
  left: 50%;
  transition: opacity 0.2s, visibility 0s linear 0.5s;
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%);
  z-index: 999;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  border-radius: 5px;
  width: 20%;
  height: auto;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 2.5vh;
  border-radius: 20px;
}

#manoSistema {
  width: 10vh;
  height: auto;
}

@keyframes turnoMostrar {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
