.button-container {
  display: inline-block;
  position: relative;
}
.button-container a {
  position: absolute;
  bottom: 4em;
  right: 4em;
  background-color: #8f0005;
  border-radius: 1.5em;
  color: white;
  text-transform: uppercase;
  padding: 1em 1.5em;
}
.button-container a:hover {
  background-color: red;
  cursor: pointer;
  color: white;
}
.avatarJugador {
  width: 5vw;
  height: auto;
}
#cajaNivel {
  background: none;
  border: 0px;
}
.fadeOut {
  animation: rotate3DAnimation 1.5s ease-out forwards;
  transform-style: preserve-3d;
}
@keyframes rotate3DAnimation {
  0%,
  25% {
    transform: scale(1);
  }
  25%,
  50% {
    transform: scale(1.2);
  }
  50%,
  55% {
    transform: scale(0.6);
  }
  85%,
  88% {
    transform: scale(0.5);
  }
  98%,
  100% {
    transform: scale(0.2);
    background-color: rgb(0, 0, 0);
  }
  70%,
  100% {
    opacity: 0%;
  }
}
#contenedor {
  perspective: 1000px;
}
#imagen {
  animation: show 1.5s ease-in-out forwards;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -20px;
  margin-left: -25px;
  z-index: 99;
}
.fadein {
  animation: show 0.8s ease-in-out forwards;
}
@keyframes show {
  0% {
    opacity: 0%;
    transform: scale(0);
  }
  32% {
    opacity: 0%;
    transform: scale(0);
  }
  32%,
  90% {
    opacity: 100%;
    transform: scale(1) rotateZ(-10deg);
  }
  60% {
    transform: rotateZ(10deg) scale(1);
  }
  100% {
    opacity: 100%;
    transform: scale(1) rotateZ(0deg);
  }
}
#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
#cuadro {
  transition-duration: 0.5s;
  width: auto;
  height: 15vh;
  border-radius: 10px;
  padding-left: -22%;
  margin-bottom: 2vh;
  margin-top: 0%;
}

#cuadro:hover {
  transform: scale(1.1);
}
#cuadro:active {
  transform: scale(1);
}
#columnaCuadro {
  margin-right: 0%;
  padding-top: 0%;
  margin-top: 0%;
  margin-bottom: 0%;
  padding-bottom: 0%;
}
#cuadro.sinTurno {
  transform: rotatey(-180deg);
}
.cronometro {
  margin-top: 0%;
  font-family: cronometro;
  font-size: 11pt;
  color: rgb(255, 255, 255);
}
#juego {
  padding-top: 0%;
  padding-bottom: 5%;
  background-image: url("../../assets/img/Tablero.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  // background-color: rgba(0, 0, 0, 0.9);
  height: auto;
  border-radius: 30px;
  backdrop-filter: blur(17px);
  border: #ffb300 1px solid;
}
