#btnLogIn {
  margin-top: 0vh;
  border-radius: 15px;
  height: 10vh;
  display: grid;
  place-content: center;
  transition: all 0.3s ease-in-out;
  font-family: "ConingFont";
  font-size: 20pt;
  background-color: rgb(0, 0, 0);
  color: white;
  width: 15vw;
}

#iconoConing {
  position: fixed;
  bottom: 6%;
  right: 2%;
  width: 3.5%;
  height: auto;
}

#btnLogIn:hover {
  border: 0px;
  border-radius: 10px;
  transform: scale(1.1);
  background-color: rgb(30, 98, 193);
  color: white;
  cursor: pointer;
  -webkit-box-shadow: -2px -4px 71px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: -2px -4px 71px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
}
#btnLogIn:active {
  transform: scale(1);
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 76, 255);
}

#contenedorUser {
  padding-top: 30vh;
}

.card {
  clip-path: polygon(
    0 20%,
    30% 0,
    100% 0,
    100% 100%,
    100% 80%,
    80% 100%,
    0% 100%,
    0 85%
  );

  border: solid 2px #ed9227;
  transition: all 0.2s ease-out;
  background-color: #00608a;

  width: 90%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.568);
  transition: 0.3s;
}

.img {
  transition: 0.5s;
  clip-path: polygon(
    0 20%,
    30% 0,
    100% 0,
    100% 100%,
    100% 80%,
    80% 100%,
    0% 100%,
    0 85%
  );
}

#avatar {
  width: 50%;
  border-radius: 150px;
}

h2 {
  color: #ffb14c;
  font-family: "heavitas";
  font-size: 3vh;
  transition: 0.3s;
  z-index: 999;
  position: relative;
}

#fondo {
  background: rgb(42, 169, 211);
  background: radial-gradient(
    circle,
    rgba(42, 169, 211, 1) 0%,
    rgba(0, 96, 138, 1) 100%
  );

  height: 100vh;
}

.subtitulo {
  color: #00c6ff;
  font-size: 10pt;
  margin-top: -2vh;
}

.titulo {
  color: white;
  font-family: Subtitulos;
  font-size: 20pt;
}

.card:hover {
  transform: scale(1.05);
  opacity: 1;
  clip-path: polygon(
    0 0%,
    0% 0,
    100% 0,
    100% 100%,
    100% 100%,
    100% 100%,
    0% 100%,
    0 85%
  );
  cursor: pointer;
  border-color: white;

  .img {
    transform: scale(0.9);

    clip-path: polygon(
      0 0%,
      0% 0,
      100% 0,
      100% 100%,
      100% 100%,
      100% 100%,
      0% 100%,
      0 85%
    );
    border-radius: 20px;
  }

  h2 {
    color: white;

    text-shadow: 10px black;
    transform: scale(1.1);
  }

  h3 {
    color: black;
  }
}

ion-input {
  border-radius: 5px;
  padding-left: 5vw;
}
.card:active {
  transform: scale(1);
}
